<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />

    <script src="../js/Polyline.encoded.js" type="text/javascript"></script>
    <script src="../js/strava_api.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <header class="header-section">
      <h2 id="section-title">Welcome to your Dashboard</h2>

      <nav class="main-nav">
        <ul class="main-nav__items">
          <li class="main-nav__item">
            <a class="main-nav__link" href="home.html">Home</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="strava.html">Strava</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="spotify.html">Spotify</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="">Help</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="main-section">
      <section class="top-section">
        <div class="box-section-1">
          <div id="mapid"></div>
        </div>
      </section>
      <section class="side-section">
        <div class="box-section-2">
          <div class="box-section-2__1">
            <canvas id="myChart" style="width: 100%; height: 90%"> </canvas>
          </div>
          <div class="box-section-2__2">
            <canvas id="distChart" style="width: 100%; height: 100%"></canvas>
          </div>

          <div class="box-section-2__3">
            <canvas id="speedChart" style="width: 100%; height: 100%"></canvas>
          </div>
        </div>
      </section>
      <section>
        <div class="bottom-section">
          <canvas id="elevChart" style="width: 100%; height: 100%"></canvas>
        </div>
      </section>
    </section>

    <script src="../js/script.js"></script>
  </body>
</html>
